@inherits LayoutComponentBase
@inject AuthStateProvider authProvider
@inject NavigationManager navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <h7 style ="margin: 10px">Welcome, @context.User.Identity.Name!</h7>
                    <button @onclick="Logout" >Logout</button>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    private bool ha = false;
    private async Task Logout()
    {
        await authProvider.Logout();
        navigationManager.NavigateTo($"/login");
    }
}